@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

$fontfamily : Karla, sans-serif;
$gradient : linear-gradient(45deg, #00c6ff, #0072ff);
$primary : #0072ff;
$dark : #12171c;
$light: #fff;